# Editor Config
.vscode

# Build
build

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules

# VSCode settings
.vscode/

# Serverless directories
.serverless

# Secrets
**.secret.**

# Data Files
db
src/data/abilities.json
